%h2 Query ride history

= form_tag '/rides/history' do
  %div
    = label :query, :start_date, 'Start'
    = text_field :query, :start_date
  %div
    = label :query, :end_date, 'End'
    = text_field :query, :end_date

  = hidden_field :query, :customer_id

  = submit_tag 'Query history'
