%h1 Ride History

%table#history
  %thead
    %tr
      %th Date
      %th Cost
      %th Payment
  %tbody
    - @rides.each do |ride|
      %tr
        %td= movie.ride_date
        %td= movie.cost
        %td= movie.payment
